@font-face {
  font-family: "Allura";
  src: url(./font/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./font/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./font/Roboto/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(./img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
  color: #eee;
}
header nav {
  height: 12vh;
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
}
header nav .logo {
  font-family: Allura;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}
header nav ul li {
  cursor: pointer;
}
header .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .icons i {
  transition: 0.2s;
  cursor: pointer;
}
header .icons i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
header .header-content {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-content div {
  margin-top: -150px;
}
header .header-content h2 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
header .header-content h1 {
  font-size: 3.1rem;
  font-weight: 700;
  margin-top: -43px;
  letter-spacing: 10px;
  font-family: Poppins;
  text-transform: uppercase;
}
header .header-content h6 {
  font-size: 27px;
  letter-spacing: 6px;
  margin: 32px 0;
  font-weight: 100;
}
header .header-content img {
  height: 27px;
  margin: 32px 0;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section1 .discover {
  background: #eee;
  display: block;
}
.section1 .discover .border {
  padding: 20px 0;
  margin: 10px;
  border: 1px dashed rgb(166, 114, 69);
}
.section1 .discover .border p {
  padding: 0 7px;
}
.section1 .discover .border h6 {
  text-transform: uppercase;
  color: rgb(182, 182, 182);
}
.section1 .discover .border .fourchette {
  margin: 15px 0;
}
.section1 .discover .border h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: -9px;
}
.section1 .discover .border h1 {
  font-family: Allura;
  color: rgb(166, 114, 69);
  font-size: 1.8rem;
  font-weight: 100;
}
.section1 .discover .chef-img {
  border-radius: 50%;
  width: 100px;
  width: 12%;
  margin: 12px 0;
}
.section1 .discover .chef-img img {
  padding: 15px 0;
}
.section1 .img {
  background: url(./img/store-01.jpg) center/cover;
}

.section2 {
  height: 50vh;
  background: red;
}
.section2 .discover {
  padding: 30px;
}
.section2 .discover h2 {
  font-family: Allura;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 50;
}
.section2 .discover img {
  padding: 25px 0;
}
.section2 .discover ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}
.section2 .discover ul li {
  list-style: none;
  margin: 0 32px;
  border-bottom: 1px solid #eee;
  padding: 7px 0px;
}
.section2 .section2-container {
  overflow: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  background: cyan;
  background: #eee;
  display: grid;
  margin: 0 25%;
  border-top: 3px solid rgb(166, 114, 69);
}
.section2 .section2-container .part1-container,
.section2 .section2-container .part2-container,
.section2 .section2-container .part3-container,
.section2 .section2-container .part4-container {
  margin: 0 10px;
}
.section2 .section2-container .part1-container .content1,
.section2 .section2-container .part1-container .content2,
.section2 .section2-container .part1-container .content3,
.section2 .section2-container .part1-container .content4,
.section2 .section2-container .part2-container .content1,
.section2 .section2-container .part2-container .content2,
.section2 .section2-container .part2-container .content3,
.section2 .section2-container .part2-container .content4,
.section2 .section2-container .part3-container .content1,
.section2 .section2-container .part3-container .content2,
.section2 .section2-container .part3-container .content3,
.section2 .section2-container .part3-container .content4,
.section2 .section2-container .part4-container .content1,
.section2 .section2-container .part4-container .content2,
.section2 .section2-container .part4-container .content3,
.section2 .section2-container .part4-container .content4 {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 10px;
  padding: 5px;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 20px 0 20px 8px;
}
.section2 .section2-container .part1-container .content1 h2,
.section2 .section2-container .part1-container .content2 h2,
.section2 .section2-container .part1-container .content3 h2,
.section2 .section2-container .part1-container .content4 h2,
.section2 .section2-container .part2-container .content1 h2,
.section2 .section2-container .part2-container .content2 h2,
.section2 .section2-container .part2-container .content3 h2,
.section2 .section2-container .part2-container .content4 h2,
.section2 .section2-container .part3-container .content1 h2,
.section2 .section2-container .part3-container .content2 h2,
.section2 .section2-container .part3-container .content3 h2,
.section2 .section2-container .part3-container .content4 h2,
.section2 .section2-container .part4-container .content1 h2,
.section2 .section2-container .part4-container .content2 h2,
.section2 .section2-container .part4-container .content3 h2,
.section2 .section2-container .part4-container .content4 h2 {
  color: rgb(166, 114, 69);
  font-size: 1rem;
  text-align: right;
}
.section2 .section2-container .part1-container .content1 h5,
.section2 .section2-container .part1-container .content2 h5,
.section2 .section2-container .part1-container .content3 h5,
.section2 .section2-container .part1-container .content4 h5,
.section2 .section2-container .part2-container .content1 h5,
.section2 .section2-container .part2-container .content2 h5,
.section2 .section2-container .part2-container .content3 h5,
.section2 .section2-container .part2-container .content4 h5,
.section2 .section2-container .part3-container .content1 h5,
.section2 .section2-container .part3-container .content2 h5,
.section2 .section2-container .part3-container .content3 h5,
.section2 .section2-container .part3-container .content4 h5,
.section2 .section2-container .part4-container .content1 h5,
.section2 .section2-container .part4-container .content2 h5,
.section2 .section2-container .part4-container .content3 h5,
.section2 .section2-container .part4-container .content4 h5 {
  -moz-text-align-last: left;
       text-align-last: left;
  margin: 6px 0px 7px 7px;
  color: rgb(48, 47, 47);
}
.section2 .section2-container .part1-container .content1 img,
.section2 .section2-container .part1-container .content2 img,
.section2 .section2-container .part1-container .content3 img,
.section2 .section2-container .part1-container .content4 img,
.section2 .section2-container .part2-container .content1 img,
.section2 .section2-container .part2-container .content2 img,
.section2 .section2-container .part2-container .content3 img,
.section2 .section2-container .part2-container .content4 img,
.section2 .section2-container .part3-container .content1 img,
.section2 .section2-container .part3-container .content2 img,
.section2 .section2-container .part3-container .content3 img,
.section2 .section2-container .part3-container .content4 img,
.section2 .section2-container .part4-container .content1 img,
.section2 .section2-container .part4-container .content2 img,
.section2 .section2-container .part4-container .content3 img,
.section2 .section2-container .part4-container .content4 img {
  border-radius: 50%;
  width: 100%;
  display: block;
  margin: auto auto;
  text-align: left;
  height: 60px;
}
.section2 .section2-container .part1-container h3,
.section2 .section2-container .part2-container h3,
.section2 .section2-container .part3-container h3,
.section2 .section2-container .part4-container h3 {
  text-align: left;
  margin: 0 13px;
  font-size: 15px;
}
.section2 .section2-container .part1-container h3 span,
.section2 .section2-container .part2-container h3 span,
.section2 .section2-container .part3-container h3 span,
.section2 .section2-container .part4-container h3 span {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */