.section3 {
    background: $black;

    .section3-container {
        display: grid;
        grid-template-columns: 30% 70%;
        margin: 20px 50px;
        background: $white;

        .date-container {
            display: grid;
            text-align: center;
            padding: 22px;

            form {
                display: grid;
                grid-template-areas:
                    "select date time"
                    "name phone email"
                    "btn btn btn"
                    ;
                    
                    button {
                    border-radius: 15px;
                    color: $white;
                    border: none;
                    background: $black;
                    width: 50%;
                    // margin: 0 auto;
                }

                .btn {
                    width: 100%;
                    background-color: red;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
                
                input,
                select {
                    margin: 10px;
                    border: none;
                    border-bottom: .5px solid $grey;
                }
            }
            

        }

        .open-container {
            background: #000;
            color: white;
            padding: 20px;

            .box1 {


                h1 {
                    font-family: Allura;
                    color: $color1;
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: bold;
                    color: #ffffff;
                    text-transform: uppercase;
                    margin-top: -20px;
                }
            }
        }
    }
}